<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Employee Home Page</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link href="{{ url_for('static', filename='default.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for('static', filename='fonts.css') }}" rel="stylesheet" type="text/css" media="all" />

	<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>

<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Qeeap Chain</a></h1>
				<span class="byline"></span><br>
			</div>
		</div>
	</div>
	<div id="wrapper1">
		<div id="welcome" class="container">
			<div class="title">
				<h2>Welcome to Qeeap Chain</h2>
				<span class="byline">{{user}} Portal</span>
			</div>
			<div id="menu1">
				<ul>
					<li><a href="/employee/{{user}}" accesskey="1" title="">Homepage</a></li>
					{% if user == "Employee" %}
                    <li><a href="/addproduct/{{user}},p" accesskey="2" title="">Add Products</a></li>
					<li><a href="/addproduct/{{user}},h" accesskey="3" title="">Add Harvester</a></li>
					<li><a href="/addproduct/{{user}},m" accesskey="4" title="">Add Manufacturer</a></li>
					<li class="current_page_item"><a href="#" accesskey="5" title="">Add Seller</a></li>
					{% elif user == "Harvester" %}
					<li><a href="/addproduct/{{user}},h" accesskey="3" title="">Add Harvester</a></li>
					{% elif user == "Manufacturer" %}
					<li><a href="/addproduct/{{user}},m" accesskey="4" title="">Add Manufacturer</a></li>
					{% elif user == "Seller" %}
					<li class="current_page_item"><a href="#" accesskey="5" title="">Add Seller</a></li>
					<!-- <li><a href="#" accesskey="2" title="">Your Products</a></li> -->
					{% endif %}
					<li><a href="/viewproducts/{{user}}" accesskey="6" title="">Products</a></li>
					<li><a href="/" accesskey="7" title="">Logout</a></li>
				</ul>
			</div>
		</div>
    </div>
    <div id="wrapper3">
		<div id="portfolio" class="container">
			<div class="title">
				<h2>Enter Details</h2>
				<center>
                    <h3>{{newMessage}}</h3>            
                    {% if message == "s" %}
                        {% if rows|length > 0 %}
                            {% if rows1|length > 0 %}
                                {% if rows2|length > 0 %}
                                    <form action = "/addseller/{{user}},s" method="post" id="usrform">
                                        Select Product:
                                        <select name="product" id="product">
                                            {% for row in rows %}
                                            <option value="{{row[0]}}">{{row[1]}}</option>
                                            {% endfor %}
                                        </select>
                                        Select Harvester:
                                        <select name="harvester" id="harvester">
                                            {% for row in rows1 %}
                                            <option value="{{row[0]}}">{{row[1]}}</option>
                                            {% endfor %}
                                        </select>
                                        Select Manufacturer:
                                        <select name="manufacturer" id="manufacturer">
                                            {% for row in rows2 %}
                                            <option value="{{row[0]}}">{{row[1]}}</option>
                                            {% endfor %}
                                        </select>
                                        <table>  
                                            <tr><td>Seller Name</td><td><input type="text" name="seller"></td></tr>
                                            <tr><td>Seller Information</td><td><textarea rows="4" cols="50" name="seller_info" form="usrform"></textarea></td></tr>
                                            <input type="hidden" id="skip" name="skip" value="s">
                                            <tr><td><input type="submit" value="Submit"></td></tr>
                                        </table>
                                    </form>
                                {% else %}
                                <span class="byline">There are no manufacturers!</span>
                                <br>
                                <br>
                                {% endif %}
                            {% else %}
                            <span class="byline">There are no harvesters!</span>
                            <br>
                            <br>
                            {% endif %}
                        {% else %}
                        <span class="byline">There are no products!</span>
                        <br>
                        <br>
                        {% endif %}
                    {% endif %}
				</center>
			</div>
		</div>
	</div>
	  
	 
</body>

</html>