<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Qeeap Chain</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link href="{{ url_for('static', filename='default.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for('static', filename='fonts.css') }}" rel="stylesheet" type="text/css" media="all" />

</head>

<body>
	<div id="header-wrapper">
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="#">Qeeap Chain</a></h1>
                <span class="byline">Traditionally grown and harvested ingredients</span><br>
            </div>
            <div id="menu">
                <ul>
					<li><a href="/" accesskey="1" title="">Home</a></li>
					<li><a href="/about" accesskey="2" title="">About</a></li>
					<li><a href="/viewallproducts" accesskey="3" title="">Products</a></li>
					<li><a href="/team" accesskey="4" title="">Team</a></li>
					<li class="current_page_item"><a href="/contact" accesskey="5" title="">Contact</a></li>
                    <li><a href="/login" accesskey="6" title="">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
	<div style="background-color: white;"><br></div>
	<div id="wrapper3" style="background-image: url('/static/images/contact.jpg'); background-size: contain; background-repeat: no-repeat; background-position: center;background-color: white ; ">
		<div id="featured" class="container">
			<div class="title">
				<br><br><br><br><br><br><br>
			</div>
		</div>
	</div>
	<div style="background-color: white;"><br></div>
	 
</body>

</html>