<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{user}} Home Page</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link href="{{ url_for('static', filename='default.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for('static', filename='fonts.css') }}" rel="stylesheet" type="text/css" media="all" />

	<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>

<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Qeeap Chain</a></h1>
				<span class="byline"></span><br>
			</div>
		</div>
	</div>
	<div id="wrapper1">
		<div id="welcome" class="container">
			<div class="title">
				<h2>Welcome to Qeeap Chain</h2>
				<span class="byline">{{user}} Portal</span>
			</div>
			<div id="menu1">
				<ul>
					<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
					{% if user == "Employee" %}
					<li><a href="/addproduct/{{user}},p" accesskey="2" title="">Add Products</a></li>
					<li><a href="/addproduct/{{user}},h" accesskey="3" title="">Add Harvester</a></li>
					<li><a href="/addproduct/{{user}},m" accesskey="4" title="">Add Manufacturer</a></li>
					<li><a href="/addproduct/{{user}},s" accesskey="5" title="">Add Seller</a></li>
					{% elif user == "Harvester" %}
					<li><a href="/addproduct/{{user}},h" accesskey="3" title="">Add Harvester</a></li>
					{% elif user == "Manufacturer" %}
					<li><a href="/addproduct/{{user}},m" accesskey="4" title="">Add Manufacturer</a></li>
					{% elif user == "Seller" %}
					<li><a href="/addproduct/{{user}},s" accesskey="5" title="">Add Seller</a></li>
					<!-- <li><a href="#" accesskey="2" title="">Your Products</a></li> -->
					{% endif %}
					<li><a href="/viewproducts/{{user}}" accesskey="6" title="">Products</a></li>
					<li><a href="/" accesskey="7" title="">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
	{% if newMessage != null %}
	<div id="wrapper3">
		<div id="portfolio" class="container">
			<div class="title">
				<h3>{{newMessage}}</h3>
			</div>
		</div>
	</div>
	{% endif %}
	  
	 
</body>

</html>